html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
#hero {
    display: grid;
    align-items: center;
    justify-content: center;
}
#hero h1{
    font-size: 50px;
}
.heroCard {
    border: solid 2px white;
    border-radius: 2px;
    min-height: 200px
}
.heroCard:hover{
    transform:scale(1.1);
    cursor:pointer;
}

.heroBg {
    border-radius:2px;
}
.pencil-underline:hover {
    border-radius: 50% 5% 50% 5% / 5% 50% 5% 50%;
    border: 5px double white;
    cursor:pointer;
}
#title{
    width:300px;
    height:70px;
}
.Board {
    width: 300px;
    height: 200px;
    border-radius: 5px;
    display: grid;
    place-content: center;
    place-items: center
}
.Board:hover {
    cursor: pointer;
    background-color: #78c2ad;
    transform: scale(1.1);
}
.addWorkSpace {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}
.workspaceForm{
    max-width:450px;
}
.workspaceTitle {
    font-weight: bold;
    backdrop-filter: blur(5px);
    padding: 2px 15px;
    border-radius: 3px;
    background-color: aliceblue;
    font-size: 20px;
}
