@model ProjectFlow.Models.View_Models.WorkspaceViewModel
@{
    ViewData["Title"] = @Model.Workspace.Name;
}

<div class="container overflow-scroll">
    <h1 class="fw-semibold">@Model.Workspace.Name</h1>
    <div class="d-flex workspaceContainer ">
        <div class="TaskContainer p-2">
            <h3 class="fw-bold">To Do:</h3>
            <div class="form-floating " >
                <input class="form-control" placeholder="Add to do item" id="toDoInput"/>
                <label class="form-label">Add to do item</label>
                <span class="text-danger fw-semibold workspaceValidation"></span>
            </div>
            
        </div>
        <div class="TaskContainer p-2">
            <h3 class="fw-bold">Doing:</h3>
            <div class="form-floating" >
                <input class="form-control" placeholder="Add doing item" id="doingInput"/>
                <label class="form-label">Add doing item</label>
                <span class="text-danger fw-semibold workspaceValidation"></span>
            </div>
        </div>
        <div class="TaskContainer p-2">
            <h3 class="fw-bold">Done:</h3>
            <div class="form-floating " >
                <input class="form-control" placeholder="Add done item" id="doneInput" />
                <label class="form-label">Add done item</label>
                <span class="text-danger fw-semibold workspaceValidation"></span>
            </div>
        </div>
    </div>
</div>