@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid py-5 bg-primary heroBg">
    <div id="hero" class="">
        <h1 class="fw-bold text-light pencil-underline" id="title">ProjectFlow</h1>
        <h3 class="text-light">Simplify project management with Project Flow. <br /> Organize and track your projects effortlessly.</h3>
        <a asp-controller="Dashboard" asp-action="Index" class="btn btn-light mt-3 col-6 col-md-3 text-dark ">Start Now!</a>
    </div>
    <div class="row mt-5 pt-5 text-light">
        <div class="col-md-3 col-10 px-5  mx-auto me-md-1 heroCard shadow-lg">
            <div class="text-center">
                <i class="bi bi-person fs-1 icon"></i>
            </div>
            <h3 class="pt-2 fw-bold">Create an account</h3>
            <p>Login or register an account now to kick start your project organization journey!</p>
        </div>
        <div class="col-md-3 col-10 px-5 mx-auto me-md-1 heroCard mt-3 mt-md-0 shadow-lg">
            <div class="text-center">
                <i class="bi bi-person-workspace fs-1"></i>
            </div>
            <h3 class="pt-2 fw-bold">Create a workspace</h3>
            <p>Create a dedicated workspace for each project to enhance organization and reduce confusion.</p>
        </div>
        <div class="col-md-3 px-5 col-10 mx-auto heroCard mt-3 mt-md-0 shadow-lg">
            <div class="text-center">
                <i class="bi bi-filter-square fs-1"></i>
            </div>
            <h3 class="pt-2 fw-bold">Start organizing</h3>
            <p>Begin structuring your projects, assigning tasks, and achieving your goals with ease.</p>
        </div>
    </div>

</div>